
<h1>Here is the course</h1>
<p> instructor/courses # show</p>
<p> instructor/courses/:id </p>

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"> <%= @course.title %> </h1>
</div>