
@import "bootstrap";
@import "font-awesome";

.navbar-brand{
  font-size: 28px;
  font-weight: 300px;
}

#log-in{
  position: absolute;
  right: 0px;
  padding-right: 15px; 
}

.navbar{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('grey-wash-wall-2.png');
}

.hero{
  background: image_url('laptop-and-stacks-resize-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 480px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
/*  background: rgba(0, 0, 0, 0.5);
  color: white;*/
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  /*text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 150;
  /*text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
}

.btn{
  border-radius: 0px;
}

.feature{
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

body{
  background-image: image_url('fabric_plaid.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson{
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a{
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b{
  font-weight: 100;
  font-size: 25px;
}

.section{
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.sections li{
  background: white;
}

ul{
  list-style-type: none;
}

.section-li{
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header{
  font-size: 25px;
}

ul .header .fa{
  font-size: 20px;
}

.lessons li{
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", "Helvetica";
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b{
  font-size: 25px;
  font-weight: 100;
}

.lessons li p{
  margin: 0;
}
