
@import "bootstrap";

.navbar-brand{
  font-size: 28px;
  font-weight: 300px;
}

#log-in{
  position: absolute;
  right: 0px;
  padding-right: 15px; 
}

.navbar{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('grey-wash-wall-2.png');
}

.hero{
  background: image_url('laptop-and-stacks-resize-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 480px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
/*  background: rgba(0, 0, 0, 0.5);
  color: white;*/
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  /*text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 150;
  /*text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
}

.btn{
  border-radius: 0px;
}

.feature{
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

body{
  background-image: image_url('fabric_plaid.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
